<h2>Configuration</h2>

<h3>{{message}}</h3>


<input type="text" class="form-control" aria-label="Default" value="192.168.1.45" ng-model="ipAddress" />


<button ng-click="discover()" class="btn btn-primary my-2">Find</button>


<button class="mdl-button mdl-js-button mdl-button--raised">
    Button
</button>

<div class="mdl-card__actions mdl-card--border">
    <a id="config-confirm-button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Next
    </a>
</div>

<div id="config-progress-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>