
<div ng-hide="model.paired == true">
    <h2>Connect</h2>
    <p>Found device: <strong>{{deviceName}}</strong></p>
    <p>Enter pin displayed on TV</p>
    <input type="text" ng-model="pin" />
    <button ng-click="handshake()" class="btn btn-primary my-2">Connect</button>
</div>



<div ng-show="model.paired == true">
<h2>Connected</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <button ng-click="sendKeyAction('KEY_VOLUP')" class="btn btn-secondary my-2">Volume up</button>
            <button ng-click="sendKeyAction('KEY_VOLDOWN')" class="btn btn-secondary my-2">Volume down</button>
        </div>
        <div class="col-xs-4">
            <button ng-click="sendKeyAction('KEY_SOURCE')" class="btn btn-primary my-2">Change source</button>
        </div>
        <div class="col-xs-4">
            <div class="row">
            <button ng-click="sendKeyAction('KEY_UP')" class="btn btn-secondary my-2">Up</button>
            </div>
            <div class="row">
            <button ng-click="sendKeyAction('KEY_LEFT')" class="btn btn-secondary my-2">Left</button>
                <button ng-click="sendKeyAction('KEY_ENTER')" class="btn btn-primary my-2">Enter</button>
            <button ng-click="sendKeyAction('KEY_RIGHT')" class="btn btn-secondary my-2">Right</button>
            </div>
            <div class="row">
            <button ng-click="sendKeyAction('KEY_DOWN')" class="btn btn-secondary my-2">Down</button>
            </div>


        </div>
    </div>
</div>


<div class="row">

</div>
    <div class="row">

</div>
    <div class="row">

        <button ng-click="sendKeyAction('KEY_POWER')" class="btn btn-primary my-2">Power</button>
        <button ng-click="sendKeyAction('KEY_MENU')" class="btn btn-secondary my-2">Menu</button>

    </div>
</div>