<h2>Discover</h2>

<div ng-if="!deviceList.length">

<button ng-click="discover()" class="btn btn-primary my-2">SEARCH</button>

</div>
<div ng-if="searching">
    <p>Searching....</p>
</div>


<div ng-repeat="device in deviceList">
    <h4>IP: {{device.info.IP}}</h4>
    <h4>Name: {{device.info.DeviceName}}</h4>
    <button ng-click="connect(device.info)" class="btn btn-primary my-2">Connect</button>
<hr />
</div>
